.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 2.3fr 0.4fr;
    grid-template-areas: "nav nav nav nav" "body body body body" "footer footer footer footer";
  }
  
  .nav {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: ;*/
    grid-template-areas: ".";
    grid-area: nav;
  }
  
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ".";
    grid-area: footer;
  }
  
  .body {
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". datos-bbdd buttons";
    grid-area: body;
  }
  
  .datos-bbdd { grid-area: datos-bbdd; }
  
  .buttons { grid-area: buttons; }

  .dato{
    width: 23%;
    height: 33%;
    border: dotted;
    border-color: rgb(205, 241, 223);
    background-color: rgb(226, 243, 243);
  }

  .botonera{
    margin-top: 15%;
  }

  .form-popup {
    max-height: 100%;
    width: 35%;
    display: none;
    position: fixed;
    bottom: 0;
    right: 1%;
    border: 5px solid #f1f1f1;
    z-index: 9;
  }

  .form-container {
    width: 100%;
    padding: 25px;
    background-color: white;
  }

   .card-img{
    width: 15%;
    height: 20%;
  } 

  #container{
    display: none;
  }
  .ocultar{
    display: none;
  }